@use "./variables" as *;

html{
    font-size: 125%;
}

body{
    background-color: $light-pink;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.icon{
    color: #042259;
}

.button{
    margin-top: 2%;
    padding: 20px;
    color: white;
    background-color: $marine;
    :visited{
        color: $marine;
    }
}

.form-button{
    background-color: $pale-rose;
    color: $marine;
}