
// colours

    // marine
    $marine: #042259;

    // pale-rose
    $pale-rose: #F5C8CF;

    // pale-grey
    $pale-grey: #F0F5FF;

    // light-pink
    $light-pink: #FCDDE2;

    // darker-grey
    $darker-grey: #1F2022;

    // water-blue
    $water-blue: #1D81CC;

//typography


$primary-font:'Emblema One';
$secondary-font: 'Barlow';
$nav-font: 'Catamaran';